.aboutUs {
    @include flex(column,nowrap,flex-start,flex-start,center);
    color: white;
    background-color: $colorAzureRadiance;

    &_heading {
        padding: 0;
        margin: 0;
        font-size: 2em;
    }
    &_subHeading {
        font-family: $fontHeadings;
        font-weight: 900;
        font-size: 1.7em;
        margin-bottom: 0;
    }
    &_btn {
        margin-top: 3em;
        background-color: $colorEastBay;
    }
    &_btn:hover,
    &_btn:focus {
        background-color: darken($colorEastBay, 15%);
    }
}

@include screen(tablet) {
    .aboutUs {
        @include flex(row,nowrap,flex-start,center,center);
    }
}