.blog {
    display: grid;
    grid-template-rows: repeat(3, 16vw);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;

    color: white;
}

.blogItem {
    &_heading {
        margin: 0;
        font-weight: 900;
    }
    &_time {
        margin: 0;
        font-weight: bold;
        font-size: 1em;
        flex: 1;
    }
    &--1 {
        grid-column: 1 / 3;

        background-color: transparent;
        color: $almostBlack;
    }
    &--2 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;

        background-color: lighten($colorAzureRadiance, 2%);
        &:hover {
            background-color: lighten($colorAzureRadiance, 7%);
        }
    }
    &--3 {
        grid-row: 1 / 3;
        grid-column: 3 / -1;

        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assets/tarrace-min.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:hover {
            background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../assets/tarrace-min.png');
        }
    }
    &--4 {
        background-color: #eaeaea;
        color: $almostBlack;
        &:hover {
            background-color: darken(#eaeaea, 5%);
        }
    }
    &--5 {
        background-color: $almostBlack;
        &:hover {
            background-color: rgba(black, .85);
        }
    }
    &--6 {
        grid-column: 3 / -1;
        
        background-color: #e91d62;
        justify-content: center;
        &:hover {
            background-color: darken(#e91d62, 7%);
        }
    }
}



