.client {
    color: white;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),  url('../assets/mountains-min.png');
    background-size: cover;
    background-attachment: fixed;
    &_box {
        @include flex(row,wrap,center,center,center);
    }
    &_image {
        max-width: 200px;
        padding: 1em;
    }
    &_paragraph {
        max-width: 600px;
        margin: 0 auto 2em auto;
    }
}