.gallery {
    // height: 40vw;
    height: 1000px;
    display: grid;
    grid-template-rows: 2fr 1fr 2fr 1fr;
    grid-template-columns: repeat(2, 50%);

    
    &_image {
        width: 100%;
        height: 100%;
        &--1 {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
        }
        &--2 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
        &--3 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
        &--4 {
            grid-row: 3 / 4;
            grid-column: 1 / 3;
        }
        &--5 {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
        }
        &--6 {
            grid-row: 4 / 5;
            grid-column: 2 / 3;
        }
    }
}

@include screen(tablet) {
    .gallery {
        height: 40vw;
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: repeat(4, 25%);
    
        
        &_image {
            width: 100%;
            height: 100%;
            &--1 {
                grid-row: 1 / 2;
                grid-column: 1 / 3;
            }
            &--2 {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
            }
            &--3 {
                grid-row: 2 / 3;
                grid-column: 2 / 3;
            }
            &--4 {
                grid-row: 1 / 3;
                grid-column: 3 / 4;
            }
            &--5 {
                grid-row: 1 / 2;
                grid-column: 4 / 5;
            }
            &--6 {
                grid-row: 2 / 3;
                grid-column: 4 / 5;
            }
        }
    }
}