.header {
    @include flex(column,nowrap,center,flex-start,center);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
    url('../assets/office-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: relative;
    min-height: 95vh;
    color: white;
    font-size: 2rem;
   
    &_box {
       margin-top: 20rem;
        max-width: 500px;
        z-index: 5;
    }
    &_heading {
        font-weight: 900;
        font-size: 2.5em;
        display: block;
    }
    &_hello {
      display: none;
    }
    &_subHeading {
        font-family: $fontHeadings;
        font-size: 1.8em;
        margin: .2em 0;
    }
    &_paragraph {
        position: relative;
        margin: 3rem 0;
    }  
}

@include screen(tablet) {
    .header {
        &_decoration {
            position: absolute;
            z-index: 4;
            top: 30vh;
            right: 3%;
            width: 45%;
            height: 85%;
            background-image: url('../assets/man-min.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
        &_hello {
            display: block;
            margin-bottom: .8rem;
          
        }
    }
}