.header {
    @include flex(column,nowrap,center,flex-start,center);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
    url('../assets/office-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    padding-top: 7em;
    padding-bottom: 7em;
    &_decoration {
        position: absolute;
        z-index: 4;
        bottom: -5%;
        right: 3%;
        width: 45%;
        height: 85%;
        background-image: url('../assets/man-min.png');
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
    }
    &_box {
        max-width: 450px;
    }
    &_heading {
        font-weight: 900;
        font-size: 2.5em;
        margin: 0;
    }
    &_text {
        display: block;
        font-size: .8em;
        margin-bottom: .8em;
    }
    &_subHeading {
        font-family: $fontHeadings;
        font-size: 1.8em;
        margin: .2em 0;
    }
    &_paragraph {
        position: relative;
        margin: 2.5em 0;
        z-index: 10;
    }  
}