.services {
    color: white;
    background-color: darken($colorAzureRadiance, 3%);
    font-size: 2rem;
    &_box {
        @include flex(column,nowrap,flex-start,flex-start,center); 
    }
}

@include screen(tablet) {
    .services {
        &_box {
            @include flex(row,nowrap,space-around);
        }
    }
}

.serviceItem {
    @include flex(row,nowrap,center,flex-start,center);
    &_image {
        margin-right: 20px;
    }
    &_heading {
        font-size: 1.2em;
    }
    &_paragraph {
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
}

@include screen(tablet) {
    .serviceItem {
        &_paragraph {
            margin-top: 1rem;
            margin-bottom: 1em;
        }
        &_image {
            margin-right: 35px;
        }
    }
}