.socials {
    @include flex(row,wrap,center,center,center);
    padding: 0 1em;
    margin-bottom: 4rem;
    &_item {
        list-style: none;
    }
    &_link {
        color: inherit;
        border: 2px solid white;
        border-radius: 50%;
        margin: 10px;
        padding: 8px;
        display: inline-block;
    }
}