*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

@include screen(tablet) {
    html {
        font-size: 1.1rem;
    }
}

@include screen(desktop) {
    html {
        font-size: 1.2rem;
    }
}

body {
    box-sizing: border-box;
}