.text {
    &-caps {
        text-transform: uppercase;
    }
    &-bold {
        font-weight: 700;
    }
    &-right {
        text-align: right;
    }
    &-center {
        text-align: center;
    }
    &-blue {
        color: $colorAzureRadiance;
    }
    &-fancy {
        font-family: $fontFancy;
        font-weight: 400;
    }
}

.secondaryHeading {
    &_heading {
        font-size: 2em;
        margin:0;
    }
    &_subHeading {
        font-size: 1.5em;
        font-weight: 900;
        font-family: $fontHeadings;
        margin: 0;
    }
}
.paragraph {
    margin-top: 1rem;
}