.padding {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6em;
    padding-bottom: 6em;
    @include screen(tablet) {
        padding-left: 10%;
        padding-right: 10%;
    }
    @include screen(desktop) {
        padding-left: 15%;
        padding-right: 15%;
    }
    &:focus {
        outline: none;
    }
}

.side-padding {
    padding-left: 5%;
    padding-right: 5%;
    @include screen(tablet) {
        padding-left: 10%;
        padding-right: 10%;
    }
    @include screen(desktop) {
        padding-left: 15%;
        padding-right: 15%;
    }
    &:focus {
        outline: none;
    }
}

.mb {
    margin-bottom: 4rem;
}

.mb--small {
    margin-bottom: 3rem;
}

.mt {
    margin-top: 4rem;
}